body {
    background: #3aa5a4;
}

.container {
    height: 400px;
    background-color : #F9F9F9;
}
.IP{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 900;
    line-height: 1.1;
    padding: 60px 0 40px;
}

.XP{
    height: 400px;
    background-color: #F9F9F9;
}
.projectsdiv{
    height: 500px;
    width: 90%;
    background-color: white;
    display: block;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
    border-radius: 3px;
}
 
.project{
    float: left;
    padding: 22px;
    width: 22%;
    height: 200px;
    padding-top: 50px;
    margin-right: 7%;
}
.projectname{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.projectdate{
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    color: gray;
    font-size: 20px;
}
.rox{
    float: left;
    margin: 20px;
}
.rom{
    margin-top: 6%;
    color: gray;
}
.workdiv{
    height: 450px;
    width: 90%;
    background-color: white;
    display: block;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
}

.work1{
    padding-left: 35px;
    padding-top: 35px;
}
.workd{
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    color: gray;
    font-size: 18px;
}
.workt{
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.workp{
    font-family: 'Lato', sans-serif;
    color: gray;

}
.titles{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding-left: 35px;
    padding-top: 35px;

}
.TAG{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
    float: left;
}
.TAX{
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    color: gray;
    font-size: 20px;
}
.educationdiv{
    height: 310px;
    width: 90%;
    background-color: white;
    display: block;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
    border-radius: 3px;
} 
.education1{
    float: left;
    margin-top:30px;
    margin-left: 2.5%;
    width: 20%;
    height: 200px;
}
.education2{
    float: left;
    margin-top:30px;
    margin-left: 15%;
    width: 20%;
    height: 200px;
}
.education3{
    float: left;
    margin-top:30px;
    margin-left: 15%;
    width: 20%;
    height: 200px;
}


.educationd{
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    color: gray;
    font-size: 18px;
}
.educationt{
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}
.educationuni{
    font-family: 'Lato', sans-serif;
    color: gray;
}
.languagediv{
    height: 250px;
    width: 90%;
    background-color: white;
    display: block;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
    border-radius: 3px;
}

.language1{
    float: left;
    margin-top:30px;
    margin-left: 2.5%;
    width: 20%;
    height: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}

.language2{
    float: left;
    margin-top:30px;
    margin-left: 15%;
    width: 20%;
    height: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}

.language3{
    float: left;
    margin-top:30px;
    margin-left: 15%;
    width: 20%;
    height: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}
.lang{
    color: gray;
}
.str{
    color: black;
}

.Network5{
    float: left;
    margin-top:30px;
    margin-left: 2.5%;
    width: 20%;
    height: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}

.lang1{
    color: black;
}
.lang2{
    color: black;
}
.lang3{
    color: black;
}
.Network6{
    float: left;
    margin-top:30px; 
    margin-left: 15%;
    width: 20%;
    height: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}

.Network7{
    float: left;
    margin-top:30px;
    margin-left: 20%;
    width: 20%;
    height: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}


.languagediv2{
    height: 650px;
    width: 90%;
    background-color: white;
    display: block;
    margin: auto;
    padding: auto;
    margin-bottom: 30px;
    border-radius: 3px;
}

input{
    border:none;
    border-radius: 3px;
    background-color: #eee;
    width: 80%;
    margin-bottom: 20px;
    padding: 15px;
    margin-left: 9%;
}

textarea{
    border: none;
    border-radius: 3px;
    background-color: #eee;
    width: 80%;
    margin-bottom: 20px;
    padding: 25px;
    margin-left: 9%;
}
button{
    margin-left: 9%;
    background-color: black;
    color: #fff;
    border-radius: 20px;
}
.back{
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(https://technext.github.io/energy1/assets/images/img-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 10%;
    width: 100%;
    height: 550px;
  }